<ion-view class="about">
	<div class="bar bar-subheader">
		<h3 class="right white-text padding"><em>About me</em></h3>
	</div>
  <ion-content class="has-subheader">
	  <div class="light" id="about-image-frame">
			<img src="../img/profile.png" width="120" alt="Profile image">
	  </div>
		<h5 class="white-text center padding">Randy Tolentino</h5>
		<p class="white-text center padding">randytolentino.com</p>
		<div class="row">
		  <div class="col">
		    <button class="button button-block button-clear">Button</button>
		  </div>
		  <div class="col">
		    <button class="button button-block button-clear">Button</button>
		  </div>
		  <div class="col">
		    <button class="button button-block button-clear">Button</button>
		  </div>
		  <div class="col">
		    <button class="button button-block button-clear">Button</button>
		  </div>		  
	</div>
  </ion-content>
</ion-view>
