<ion-view class="about">
	<div class="bar bar-subheader">
		<h3 class="right white-text padding"><em>About me</em></h3>
	</div>
  <ion-content class="has-subheader">
	  <div class="light" id="about-image-frame">
			<img src="../img/profile.png" width="120" alt="Profile image">
	  </div>
		<h4 class="white-text center padding">Randy Tolentino</h4>
		<h5 class="white-text center padding">software product developer // light-weight designer</h5>
		<h5 class="white-text center padding">randytolentino.com</h5>
		<div class="row">
		  <div class="col">
		    <button class="button button-block button-clear">
		    	<i class="icon ion-social-facebook-outline"></i>
		    </button>
		  </div>
		  <div class="col">
		    <button class="button button-block button-clear">
		    	<i class="icon ion-social-twitter-outline"></i>
		    </button>
		  </div>
		  <div class="col">
		    <button class="button button-block button-clear">
		    	<i class="icon ion-social-linkedin-outline"></i>
		    </button>
		  </div>
		  <div class="col">
		    <button class="button button-block button-clear">
		    	<i class="icon ion-social-github-outline"></i>
		    </button>
		  </div>		  
		  <div class="col">
		    <button class="button button-block button-clear">
		    	<i class="icon ion-ios-email-outline"></i>
		    </button>
		  </div>		  		  
	</div>
  </ion-content>
</ion-view>
