<ion-view class="about">
  <ion-content>
	  <div class="light" id="about-image-frame">
			<img src="../img/profile.png" width="120" alt="Profile image">
	  </div>
		<h3 class="white-text right padding">RANDY</h3>
		<h3 class="white-text right padding about-texts">Software Product Developer // Designer</h3>
		<h4 class="white-text right padding about-texts">randytolentino.com</h4>
		<h5 class="white-text right padding about-texts">Check the Resume</h5>
		<p>Randy Tolentino is a front-end developer </p>
  </ion-content>
</ion-view>
