<ion-view class="contact">
<div class="bar bar-subheader">
	<h3 class="right white-text padding"><em>Get in touch</em></h3>
</div>
  <ion-content class="padding has-subheader">
	  <div class="padding light">
			<div class="row">
			  <div class="col">
			    <button class="button button-block button-clear">
			    	<i class="icon ion-social-facebook-outline"></i>
			    </button>
			  </div>
			  <div class="col">
			    <button class="button button-block button-clear">
			    	<i class="icon ion-social-twitter-outline"></i>
			    </button>
			  </div>
			  <div class="col">
			    <button class="button button-block button-clear">
			    	<i class="icon ion-social-linkedin-outline"></i>
			    </button>
			  </div>
			  <div class="col">
			    <button class="button button-block button-clear">
			    	<i class="icon ion-social-github-outline"></i>
			    </button>
			  </div>		  
			  <div class="col">
			    <button class="button button-block button-clear">
			    	<i class="icon ion-ios-email-outline"></i>
			    </button>
			  </div>		  		  
			</div>
	  </div>
  </ion-content>
</ion-view>
