<ion-view class="projects">
<div class="bar bar-subheader padding">
  <h3 class="right white-text"><em>Projects</em></h3>
</div>
  <ion-content class="has-subheader">
    <ion-list>
      <div ng-repeat="group in groups">
        <ion-item 
          ng-click="toggleGroup(group)"
          ng-class="{active: isGroupShown(group)}"
          class="item-stable project-title {{group.colorClass}}">
            <i class="icon project-icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
          &nbsp;
          {{group.title}}
        </ion-item>
        <div ng-show="isGroupShown(group)" class="{{group.colorClass}}">
          <ion-item ng-repeat="content in group.contents" class="item-accordion project-contents">
            <p class="project-line">
              <a href=""><img ng-src="{{content.image}}" class="project-image"></a>
              {{content.line}}
            </p>
          </ion-item>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>