<ion-view class="story">
<div class="bar bar-subheader">
	<h3 class="right white-text"><em>The code less traveled</em></h3>
</div>
  <ion-content class="padding has-subheader">
	  <div class="padding light">
	    <!-- <h1 class="right title"><em>The code less traveled</em></h1> -->
	    <p>The first thing you should know is that I'm truly blessed and lucky to be where I am today. To put it simply - I have a beautiful family that I get to experience life with, every day. I also have an amazing career as a Software Product Design Professional at IBM. And, there is a certain type of momentum I see in myself that I have never seen before.</p>
	    <p>The truth be told, it hasn't always been this way. In fact, we once lived in a small, crammed bedroom in a relative's house in San Diego, California. I was working for the YMCA, making about $15 an hour, and expected to support a family of four. It sucked.</p>
	    <p></p>
	  </div>
  </ion-content>
</ion-view>
