@import url(http://fonts.googleapis.com/css?family=Dosis:300,400,500,700);

/* GENERAL OVERRIDES */

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Dosis', sans-serif;
}

em {
	font-style: italic;
}

strong, b {
	font-weight: bold;
}

.center {
	text-align: center !important;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.white-text {
	color: #FFFFFF;
}

.title{
	font-size: 24px;
	color: #FFFFFF;
}

.bar {
	background-color: transparent;
}

/* SIDE MENU */
.menu .scroll-content {
  z-index: 10;
  background: url(../img/bg0.png);
  background-size: cover;
}

.item-complex .item-content, .item-radio .item-content {
  color: #353535;
  background-color: rgba(0, 0, 0, 0);
}

ion-header-bar.bar-dark.bar.bar-header.disable-user-behavior {
  background-color: #151313;
}

a.item-content, .item {
  background-color: rgba(0, 0, 0, 0);
}

ion-item.item.item-complex {
  border-bottom: 1px solid #FFF;
}

/* HOME */
ion-header-bar.bar-assertive.bar.bar-header.disable-user-behavior {
  background-color: #FA4544;
  background-image: url(http://www.transparenttextures.com/patterns/wild-flowers.png);
}

.title.title-left.header-item {
  text-align: center;
}

.home {
	text-align: center;
	margin-top: 25%;
}

.home h3, .home h5, .home p {
	color: #FFFFFF;
  text-shadow: 2px 2px 2px #000000;
}

ion-view.pane {
	background-image: url(../img/main_bg.png);
	background-size: cover;
}

/* STORY */
ion-view.story.pane {
  background: url(../img/story_bg.png);
  background-size: cover;
}

.small-caption {
  margin-right: 25px;
  float: right;
  margin-top: -20px;
  font-size: 16px;
  font-style: italic;
}

.quote {
  margin-bottom: 20px;
}

/* ABOUT */
ion-view.about.pane {
  background: url(../img/about_bg.png);
  background-size: cover;
}

ion-content.padding.has-subheader.scroll-content.ionic-scroll.has-header {
  padding: 20px;
}

#about-image-frame {
  background-color: #FFFFFF;
  padding: 0;
  margin-bottom: 25px;
}

#about-image-frame img {
  width: 190px;
  margin-bottom: -5px;
}

h3.about-texts {
  background-color: #EC403F;
  font-size: 20px;
}

h4.about-texts {
  background-color: #FC5958;
  margin-top: -10px;
  margin-bottom: -10px;
}

h5.about-texts {
  background-color: #FD7B7A;
}

/* PROJECTS */
.project-one{
  background-color: #EC403F;
  border: none;
  display: block;
  color: #FFFFFF;
  padding: 15px 0 15px 15px;
}
.project-two{
  background-color: #FC5958;
  border: none;
  display: block;
  color: #FFFFFF;
  padding: 15px 0 15px 15px;
}
.project-three{
  background-color: #FD7B7A;
  border: none;
  display: block;
  color: #FFFFFF;
  padding: 15px;
}

img.project-image {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}

p.project-line {
  color: #FFFFFF;
}

ion-view.projects.pane {
  background: url(../img/about_bg.png);
  background-size: cover;
}

.list .item.item-accordion {
  padding-top: 0;
  border: 0;
  padding-bottom: 0;
  transition: 0.5s all linear;
}

.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}











