/* GENERAL OVERRIDES */
em {
	font-style: italic;
}

strong, b {
	font-weight: bold;
}

.center {
	text-align: center !important;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.white-text {
	color: #FFFFFF;
}

.title{
	font-size: 24px;
	color: #FFFFFF;
}

.bar {
	background-color: transparent;
}

/* SIDE MENU */
.menu .scroll-content {
  z-index: 10;
  background: url(../img/bg0.png);
  background-size: cover;
}

.item-complex .item-content, .item-radio .item-content {
  color: #353535;
  background-color: rgba(0, 0, 0, 0);
}

a.item-content, .item {
  background-color: rgba(0, 0, 0, 0);
}

ion-item.item.item-complex {
  border-bottom: 1px solid #FFF;
}

/* HOME */
ion-header-bar.bar-assertive.bar.bar-header.disable-user-behavior {
  background-color: #E61F1F;
}

.title.title-left.header-item {
  text-align: center;
}

.home {
	text-align: center;
	margin-top: 25%;
}

.home h3, .home h5, .home p {
	color: #FFFFFF;
  text-shadow: 2px 2px 2px #000000;
}

ion-view.pane {
	background-image: url(../img/main_bg.png);
	background-size: cover;
}

/* STORY */
ion-view.story.pane {
  background: url(../img/story_bg.png);
  background-size: cover;
}

/* STORY */
ion-view.about.pane {
  background: url(../img/about_bg.png);
  background-size: cover;
}

/* PROJECTS */
ion-view.projects.pane {
  background: url(../img/projects_bg.png);
  background-size: cover;
}

.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}











